@import "https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css";
@import url("https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Gowun+Dodum&display=swap");

* {
  box-sizing: border-box;
}

input {
  /* all: unset; */
  box-sizing: border-box;
  border: none;
  /* -webkit-appearance: none; */
  /* -moz-appearance: none; */
  /* appearance: none; */
}

body {
  background-color: #eceff7;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 14px;
  color: #333;
}

button {
  background-color: white;
  color: black;
}

a {
  text-decoration: none;
  color: inherit;
}

form {
  width: 100%;
}

.wrapContainer {
  height: 92vh;
  padding-top: 8rem;
}

/* Logo */
.brand img {
  margin-right: 16px;
  width: 60px;
  vertical-align: middle;
}

.brand {
  font-size: 22px;
  font-family: "Gowun Dodum", "Dongle", "Berkshire Swash", cursive;
  color: #fff;
}

/* Nav */
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1.4rem;
  position: fixed;
  z-index: 10;
  width: 100%;
  background-color: #191f2c;
  border-bottom: 1px solid #303540;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}
.nav > ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  height: 60px;
}

.container {
  width: 100%;
  max-width: 800px;
  color: #333;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}
.container h2 {
  font-size: 1.4rem;
  margin-bottom: 20px;
  color: #cfcfcf;
}

.homeContainer {
  min-height: 92vh;
  padding: 1%;
  padding-top: 76px;
}

.formInput {
  width: 100%;
  padding: 10px 20px;
  border-radius: 20px;
  border: 1px solid black;
  text-align: center;
  background-color: white;
  color: black;
}

.commonBtn {
  background-image: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.1) 0%,
    rgba(255, 255, 255, 0.1) 100%
  );
}
.commonBtn:hover,
.commonBtn:focus {
  background-image: none;
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.3);
}
.formBtn {
  cursor: pointer;
  width: 100%;
  padding: 7px 15px;
  font-size: 0.8rem;
  text-align: center;
  color: #fff;
  font-weight: 700;
  border-radius: 20px;
  background-color: #35405e;
  cursor: pointer;
}
.formBtn:active {
  opacity: 0.8;
}
.homeBtn {
  background-color: #fff;
  color: #35405e;
}

.writeBtn {
  background-color: tomato;
  color: #fff;
}

.cancelBtn {
  background-color: #242b3c;
  color: #fff;
}

/* Auth */
.authContainer {
  display: flex;
  flex-direction: column;
  padding-top: 150px;
  justify-content: center;
  align-items: center;
}

.authBtns {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 320px;
}

.authBtn {
  cursor: pointer;
  border-radius: 20px;
  border: none;
  padding: 10px 0px;
  font-size: 12px;
  text-align: center;
  width: 150px;
}

/* AuthForm */

.authInput {
  max-width: 320px;
  width: 100%;
  padding: 10px;
  border-radius: 30px;
  background-color: rgba(255, 255, 255, 1);
  margin-bottom: 10px;
  font-size: 12px;
  color: black;
}

.authSubmit {
  text-align: center;
  background-color: #ffcc00;
  color: #333;
  margin-top: 10px;
  cursor: pointer;
}

.authError {
  color: tomato;
  text-align: center;
  font-weight: 500;
  font-size: 12px;
}

.authSwitch {
  color: #fff;
  cursor: pointer;
  margin-top: 10px;
  margin-bottom: 50px;
  display: block;
  font-size: 12px;
  text-decoration: underline;
}

.appFooter {
  padding: 30px 0;
  text-align: center;
  color: #999;
}
.appFooter address {
  margin: 10px auto;
}

/* Item Factory */

.factoryForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.factoryInput__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
  margin-bottom: 20px;
  width: 100%;
}
.newsFactoryInput__radio {
  color: #fff;
  margin-bottom: 1rem;
}
.newsFactoryInput__radio label {
  font-size: 1rem;
  margin-right: 2rem;
}
.newsFactoryInput__radio label:last-child {
  margin-right: 0;
}

.factoryInput__title {
  display: flex;
  width: 94%;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  margin-bottom: 10px;
}
.newsFactoryInput__title {
  display: flex;
  width: 94%;
  gap: 1rem;
  align-items: center;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  margin-bottom: 10px;
}
.newsFactoryInput__title span {
  color: #8f8f8f;
  flex-shrink: 0;
}
.newsFactoryInput__title input {
  flex-grow: 1;
}
textarea.newsFactoryInput__title {
  min-height: 12rem;
}

.factoryInput__title > input {
  width: 12%;
  padding: 0 1%;
  justify-content: center;
  border-right: 1px solid #ddd;
}

.factoryInput__title > input:nth-child(1) {
  width: 56%;
}
.factoryInput__title > input:nth-child(2) {
  width: 23%;
}

.factoryInput__title > input:nth-child(4) {
  border: none;
}
.factoryInput__tag {
  width: 100%;
  border: 0;
  text-align: center;
}
.factoryInput__tag > input {
  display: block;
  width: 18%;
  margin: 10px auto;
}
.tagBtn {
  cursor: default;
  display: inline-block;
  width: 18%;
  padding: 5px 10px;
  margin: 5px 5px 0;
}

.ck.ck-editor {
  width: 94%;
}

.ck-content,
.factoryInput__textarea {
  flex-grow: 1;
  height: 500px;
  padding: 20px;
  color: #333;
  border: 1px solid white;
  border-radius: 20px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.6rem;
}

.ck-content > p {
  margin: 20px auto;
}
.submitBtns {
  width: 94%;
  text-align: right;
}

.factoryInput__arrow {
  display: inline-block;
  cursor: pointer;
  margin-top: 1rem;
  height: 40px;
  width: 100px;
  padding: 10px 0px;
  text-align: center;
  border-radius: 20px;
  color: white;
  background-image: linear-gradient(to bottom, #00d2ff 0%, #845ec2 100%);
  background-size: 200% auto;
}

.factoryInput__label {
  color: #04aaff;
  cursor: pointer;
  width: 120px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  background-color: white;
}

.factoryInput__label span {
  margin-right: 10px;
  font-size: 12px;
}

.factoryForm__attachment {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.factoryForm__attachment img {
  height: 200px;
  width: 200px;
  border-radius: 4px;
}

.factoryForm__clear {
  color: tomato;
  cursor: pointer;
  width: 120px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  margin: 15px auto;
  background-color: white;
}

.factoryForm__clear span {
  margin-right: 10px;
  font-size: 11px;
  font-weight: bold;
}

/* Item */
.itemGridContainer {
  display: grid;
  grid-gap: 1rem;
  margin: 0 auto;
  grid-template-columns: repeat(auto-fill, minmax(250px, auto));
  max-width: 1400px;
}

.itemContainer {
  position: relative;
  margin-top: 2rem;
}
.item__actions {
  position: absolute;
  right: 0;
  color: #999;
}
.item__actions span {
  margin-left: 1rem;
}

.item__temperature {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  height: 5rem;
  color: white;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.item__temperature span:nth-child(1),
.item__temperature span:nth-child(2) {
  margin: 9px 12px;
}
.item__newson {
  z-index: 1;
  position: absolute;
  top: 33px;
  text-align: center;
  color: #fff;
  width: 100%;
}
.temp__none {
  background-color: #35405e;
  color: #35405e;
}
.temp__cold20 {
  background-image: linear-gradient(90deg, #090979 0%, #002fff 100%);
}
.temp__cold10 {
  background-image: linear-gradient(90deg, #002fff 0%, #008cff 100%);
}
.temp__cold2 {
  background-image: linear-gradient(90deg, #008cff 0%, #45d6b7 100%);
}
.temp__spring {
  background-image: linear-gradient(90deg, #45d6b7 0%, #29c536 100%);
}
.temp__hot15 {
  background-image: linear-gradient(90deg, #29c536 0%, #1b8600 100%);
}
.temp__hot30 {
  background-image: linear-gradient(90deg, #1b8600 0%, #a2a500 100%);
}
.temp__hot40 {
  background-image: linear-gradient(90deg, #a2a500 0%, #ffc400 100%);
}
.temp__hot50 {
  background-image: linear-gradient(90deg, #ffc400 0%, #ff6600 100%);
}

.item__text {
  font-size: 0.85rem;
  line-height: 1.6rem;
}
.item__text > p {
  margin: 20px auto;
}
.item__date {
  font-size: 0.8rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 10px;
}
.item__img {
  position: relative;
  margin-top: -3rem;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.item__img img {
  position: relative;
  z-index: 2;
  width: 100%;
  max-height: 267px;
}

.item__img img:hover,
.item__img img:focus {
  cursor: pointer;
  transform: translateY(20px);
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.4);
  transition: 0.2s;
}

/* News */
.newsGrid {
  display: grid;
  grid-template-columns: 200px 1fr 100px;
  grid-template-rows: 50px 1fr 30px;
}
.news__noti {
  grid-column: 2;
  text-align: center;
  align-self: center;
  color: #464d5a;
  font-size: 0.7rem;
}
.news__noti:hover,
.news__noti:focus {
  color: #ffcc00;
  transition: 0.2s;
}
/* NewsType */
.news__type {
  grid-column: 1;
  grid-row: 2;
  position: fixed;
  margin-top: 4rem;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.news__type label {
  cursor: pointer;
  height: 40px;
  width: 100px;
  padding: 10px 0px;
  text-align: center;
  border-radius: 20px;
  color: white;
  background-color: #35405e;
  background-size: 200% auto;
}
.news__type label:hover,
.selected {
  background-image: linear-gradient(180deg, #52a896 0%, #2a4d45 100%);
}
.news__type input {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
  margin: 0;
  padding: 0;
}
.newsGridContainer {
  grid-column: 2;
  grid-row: 2;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, auto));
  justify-self: flex-start;
  align-self: flex-start;
  grid-gap: 1rem;
  margin: 0 auto;
  color: #666;
  text-align: left;
}

.newsContainer {
  z-index: 1;
  cursor: pointer;
  position: relative;
  margin: 0.8rem 0;
  border-radius: 5px;
  background-color: #191f2c;
  border: 1px solid #303540;
  transition: 0.3s;
}
.newsContainer:hover,
.newsContainer:focus {
  border-color: #468a7b;
}
.__Newsletter {
  border-color: rgba(219, 235, 0, 0.15);
}
.__Newsletter:hover,
.__Newsletter:focus {
  border-color: rgb(219, 235, 0);
}
.__Bookmark {
  border-color: rgba(182, 0, 182, 0.25);
}
.__Bookmark:hover,
.__Bookmark:focus {
  border-color: rgb(182, 0, 182);
}
.__Etc {
  border-color: rgba(0, 153, 196, 0.2);
}
.__Etc:hover,
.__Etc:focus {
  border-color: rgb(0, 153, 196);
}
.newsContainer__link {
  padding: 1rem;
}
.news__actions {
  z-index: 2;
  margin-top: 1rem;
  margin-right: 1rem;
}
.news__date {
  font-size: 0.8rem;
  color: #7a8e96;
}
.news__creator {
  color: #666;
}
.news__title {
  margin: 10px 0;
  line-height: 1.2rem;
  font-weight: bold;
  color: #fff;
}
.news__text {
  height: 37px;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.2rem;
  color: #999;
  font-size: 0.8rem;
}
.moreBtnWrap {
  display: flex;
  width: 20%;
  margin: 2rem auto;
  height: 2rem;
  grid-column: 2;
  grid-row: 3;
  align-self: center;
  justify-self: center;
}
.moreBtn {
  display: block;
  align-items: center;
}

.empty {
  width: 100%;
  height: 80vh;
  text-align: center;
  line-height: 80vh;
}
.news__empty {
  grid-column: 2;
  grid-row: 2;
  justify-self: center;
  align-self: center;
}
.news__empty.item__empty {
  grid-column: 3;
}
.loading {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}

/* dark ver */
.dark {
  background-color: #0f1421;
  color: #cfcfcf;
}

/* white ver */
.bright {
  background-color: #f4f4f0;
  color: #000;
}
.nav__bright {
  background-color: #f4f4f0;
  border-bottom: 1px solid #000;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}
.brand__bright {
  color: #000;
}
.newsContainer__bright {
  background-color: #fff;
  border: 1px solid #000;
  transition: 0.2s;
}
.news__date__bright {
  color: #999;
}
.news__title__bright {
  color: #000;
}
.news__text__bright {
  color: #666;
}
.__Newsletter__bright {
  border-color: #111f0b;
}
.__Newsletter__bright:hover,
.__Newsletter__bright:focus {
  border-color: #227000;
}
.__Bookmark__bright {
  border-color: #564147;
}
.__Bookmark__bright:hover,
.__Bookmark__bright:focus {
  border-color: #86203d;
}
.__Etc__bright {
  border-color: #254d4c;
}
.__Etc__bright:hover,
.__Etc__bright:focus {
  border-color: #0f8886;
}

/* search */
.searchContainer {
  display: grid;
  grid-template-columns: 1rem 70px 120px 3fr 2fr 1rem;
  grid-template-rows: 2rem 1fr 1fr 1.5rem;
  max-width: 1400px;
  margin: 30px auto 0;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid #303540;
  border-radius: 5px;
  background-color: #191f2c;
}
.searchInput__keyword {
  grid-column: 3/5;
  grid-row: 2;
  width: 100%;
  position: relative;
}
.searchInput__keyword > input {
  width: 100%;
  height: 2.7rem;
  border-radius: 5px;
  background-color: #fff;
  font-size: 1rem;
  color: #666;
  text-indent: 3rem;
}
.searchCancelBtn {
  cursor: pointer;
  position: absolute;
  left: 1.5rem;
  top: 1rem;
  color: #333;
}
.searchContainer input:focus {
  outline: none;
}
.searchInput__date {
  grid-column: 5;
  grid-row: 2;
}
.searchInput__date > input {
  height: 2.7rem;
  border-radius: 5px;
  margin: 0 1rem;
  padding-right: 5px;
  font-size: 1rem;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: #fff;
  background-color: #303540;
  font-weight: bold;
  text-align: center;
}
::-webkit-calendar-picker-indicator {
  margin-left: 0px;
}
.keyword__title {
  grid-row: 3;
  grid-column: 3;
  font-weight: 700;
  margin-top: 10px;
  color: #fff;
  border-right: 1px solid #666;
}
.keywordWrap {
  grid-column: 4/6;
  grid-row: 3;
  display: flex;
  gap: 1rem;
  margin: 10px 0 0 10px;
  flex-flow: row wrap;
}
.issueKeyword {
  cursor: pointer;
}
.issueKeyword:hover,
.issueKeyword:focus {
  color: #fff;
  font-weight: bold;
}
.infoWrap .container {
  color: #fff;
  text-align: left;
  padding-top: 8rem;
  align-items: flex-start;
}
.infoWrap .container p,
.infoWrap .container li {
  margin: 10px 0;
  line-height: 1.6rem;
}
